.search-field {
    height: '40px';
    fontsize: '15px';
    background-color: 'white';
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure the overlay is above other elements */
}

.form-container2 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    width: 500px;
}

.button-container {
    margin-top: 20px; /* Adjust the margin based on your design */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
