#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3);

    z-index: 99;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.3); /* Adjust the background color and opacity as needed */
}

#form-container {
    padding: 20px;
    background-color: white;
}

.form-container {
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .customer-info {
        font-style: italic;
        margin-bottom: 10px;
        color: #555;
    }

    .form-label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #333;
    }

    .title-input {
        margin-top: 20px;
        font-weight: bold;
        color: #333;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-top: 4px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 4px;
        outline: none;

        &:focus {
            border-color: #007bff;
        }
    }

    .submit-button {
        background-color: #007bff;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}
.error-text {
    color: red;
    margin-top: 5px;
}

.opt-1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; /* Adjust the margin as needed */
}

.close-button,
.submit-button {
    padding: 10px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-button {
    background-color: rgb(207, 82, 82);
}
