.spend {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 1rem;
    .chart {
        // background-color: #066132;
        width: 100%;
        // height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 100px;

        .multichar {
            width: 100%;
            height: 100%;
            background-color: white;
            display: flex;
            flex-direction: row;
        }
        .piechart {
            // background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            // margin-left: 2rem;
            height: 30%;
        }
    }
}
