.wrapper {
    height: var(--default-height-header_footer);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    // position: fixed;
    // z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
}

.inner {
    height: 100%;
    width: var(--default-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: 15%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 0.2rem;
    }
}

.navbar {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #126131;
    text-transform: uppercase;
    font-size: 1.4rem;

    a {
        color: #126131;
    }

    :hover {
        scale: 1.1;
        font-style: Bold;
        font-weight: 800;
        cursor: pointer;
        color: #126131;
    }
    ::before {
        scale: 1.1;
        font-style: Bold;
        font-weight: 800;
        cursor: pointer;
        color: #126131;
    }
}

.right_navbar {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
        color: #126131;
    }

    div:first-child {
        width: 70%;
        display: flex;
        align-content: center;
        justify-content: space-around;

        button {
            cursor: pointer;
            color: #126131;
            // text-transform: uppercase;
            font-size: 1.4rem;
            background-color: #fff;
            border-width: 1px;
            border-style: solid;
            border-radius: 15%;

            // :hover {
            //     scale: 1.1;
            //     font-style: Bold;
            //     font-weight: 800;
            //     cursor: pointer;
            //     background-color: #126131;
            // }
        }
    }
    div:last-child {
        padding-top: 0.8rem;
        width: 30%;
        :first-child {
            width: 50%;
            height: auto;
        }
    }
}
