.header {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.title {
    position: absolute;
    color: var(--white);
    font-weight: 600;
}

.navigation {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    min-width: 100vh;
    justify-content: space-evenly;

    & > li {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 4rem;
        width: 100%;
        font-size: 1.8rem;
        padding: 2rem 4rem;
        text-transform: uppercase;
        box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
        color: #066132;
        font-weight: 400;
        cursor: pointer;
        background-color: rgb(0 0 0 / 4%);
        // margin: 5px 5px;

        &:hover {
            background-color: white;
            font-weight: 600;
        }

        svg {
            font-size: 2.4rem;
        }
        a {
            padding-left: 0.8rem;
            color: #066132;
        }
    }

    .active_navbar {
        background-color: white;
        box-shadow: none;
        border-top: #066132;
        border-left: #066132;
        border-right: #066132;
    }
}

.content {
    width: 100%;
    max-height: max-content;
    padding: 1rem 2rem;
    position: relative;
    min-height: 64vh;

    section {
        width: 100%;
        height: 100%;
        display: none;

        h2 {
            color: #066132;
            font-weight: 600;
            font-size: 2.8rem;
        }

        h4 {
            color: #066132;
            font-weight: 600;
        }
    }

    & .active {
        display: block;
    }

    .contract {
        background-color: #fff;
        div {
            display: flex;
            flex-direction: row;

            span {
                padding-left: 2rem;
            }
        }
    }
}
