.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    //width: auto !important;
    //display: block !important;
    justify-content: initial !important; /* Reset or override other styles */
    flex-direction: initial !important;
    margin-top: 80px;
    width: 100%;
}
